<ion-header>
  <ion-navbar>
    <ion-title>Parking Alarm</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #a60033;">
  <div style="    justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;">
    <img src="assets/imgs/alarm.png" style="width:18%;"/>
    <div>
      <!-- <button ion-button>Lock Engine</button> -->
      <button ion-button (click)="dismiss()">Stop</button>
    </div>
    <!-- <button ion-button round block color="light" >Exit</button> -->
  </div>


</ion-content>

