<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Distance Report' | translate}}</ion-title>
    <ion-buttons end *ngIf="distanceReportData.length > 0">
      <!-- <button ion-button style="background: white; color: #C43539;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg" *ngIf="pltStr === 'ios'">
        <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getdistancedevice(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'From Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'To Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right;">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getDistanceReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>

  <ion-card *ngFor="let item of distanceReportData; let i = index" (click)="daywisedistance();">

    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-icon ios="ios-pin"  md="md-pin" style="color:#e14444;font-size:15px;" (click)="daywisedistance();"></ion-icon>
      <ion-avatar item-start>
        <img src="assets/imgs/car_red_icon.png">
      </ion-avatar>
      <ion-label>{{item.Device_Name }}</ion-label>

      <!-- <ion-buttons (click)="daywisedistance();">Details</ion-buttons> -->
      <ion-badge item-end color="gpsc">{{item.distance | number : '1.0-2'}}{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</ion-badge>

    </ion-item>
    <ion-card-content>
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon ios="ios-pin" md="md-pin" style="color:#33c45c;font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col (onCreate)="start_address(item, i)" style="font-size: 0.8em;">
          <div class="overme">
            {{ item.StartLocation }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col (onCreate)="end_address(item, i)" style="font-size: 0.8em;">
          <div class="overme">
            {{ item.EndLocation }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
