<ion-header>
  <ion-navbar>
    <ion-title>Select User</ion-title>
    <ion-buttons end>
      <button (click)="dismiss()" icon-only ion-button>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="obj.length > 0">
    <ion-item *ngFor="let member of filterObj">
      <ion-label>{{member.first_name}}</ion-label>
      <ion-checkbox (click)="selectMember(member)"
                    [(ngModel)]="member.checked"
                    color="dark">
      </ion-checkbox>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="myColor">
  <ion-toolbar style="background-image: linear-gradient(to right top, #c43539, #c73337, #cb3034, #ce2d32, #d12a2f);">
    <ion-title (click)="checkAll()">Done</ion-title>
  </ion-toolbar>
</ion-footer>
